@charset "utf-8";
/* CSS Document */

/*-----------------------------------------------------------------------------
## x>=1380px
------------------------------------------------------------------------------*/
@media screen and (min-width:1380px){
	.site{ max-width:1284px;}
}

/*-----------------------------------------------------------------------------
## x>=1272px
------------------------------------------------------------------------------*/
@media screen and (min-width:1272px){
	.site{ max-width:1176px;}
}

/*-----------------------------------------------------------------------------
## x>=1056px
------------------------------------------------------------------------------*/
@media screen and (min-width:1056px){
	.site{ max-width:912px;}
}

/*-----------------------------------------------------------------------------
## x>=864px
------------------------------------------------------------------------------*/
@media screen and (min-width:864px){
	.site{ max-width:768px;}
}

/*-----------------------------------------------------------------------------
## x>=768px
------------------------------------------------------------------------------*/
@media screen and (min-width:768px){
	.site{ padding-left:48px; padding-right:48px;s width:calc(100%-96px);}
}

/*-----------------------------------------------------------------------------
## x>=480px
------------------------------------------------------------------------------*/
@media screen and (min-width:480px){
	
}